{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block style %}
        
        {% if "/ex01/templates" == request.path %}

        <link rel="stylesheet" href="{% static 'ex01/style2.css' %}">

        {% else %}

        <link rel="stylesheet" href="{% static 'ex01/style1.css' %}">

        {% endif %}

        {% endblock style %}



        {% block title %}
        {% endblock title %}
    </head>
    <body>
        {% include 'ex01/nav.html' %}
        {% block content %}
        {% endblock content %}
    </body>
</html>