{% extends 'ex01/base.html' %}

{% block title %}
<title>{{title}}</title>
{% endblock title %}

{% block content %}
            <h1>Display - Static Web Page</h1>
            <p>Consequently, a static web page often displays the same information for all users,<br> from all contexts, subject to modern capabilities of a web server to negotiate content-type or language of the document<br>where such versions are available and the server is configured to do so.<br>However, a site's scripts can introduce dynamic functionality, which may make a static web page appear dynamic.</p>
{% endblock %}