{% extends 'ex01/base.html' %}

{% block title %}
<title>{{title}}</title>
{% endblock title %}

{% block content %}
            <h1>Django Bref Description</h1>
            <p>Django est un framework Python de haut niveau,<br>permettant un développement rapide de sites internet, sécurisés, et maintenables.<br>Créé par des développeurs experimentés, Django prend en charge la plupart des tracas du développement web,<br>vous pouvez donc vous concentrer sur l'écriture de votre application sans avoir besoin de réinventer la roue.<br>Il est gratuit, open source, a une communauté active, une bonne documentation, et plusieurs options pour du support gratuit ou non.        </p>
{% endblock %}
