{% extends 'base.html' %}


{% block title %}<title>Publication</title>{% endblock title %}

{% block content %}
<table>
{% for list in object_list %}

{% if list.author_id == request.user.id %}
    <header>
        <th style="border: 1px solid black;">{{list.title}}</th>
    </header
    <tr>
        <td style="border: 1px solid black;">{{list.synopsis}}</td>
        <td style="border: 1px solid black;">{{list.created}}</td>
        <td><a href={% url 'publication_detail' pk=list.id %}>details</a></td>
    </tr>

{% endif %}

{% endfor %}
</table>
{% endblock %}