<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SALUT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/ex/css/style.css" rel="stylesheet">
    </head>
    <body>
        <p>Submit your files here : </p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit"/>
        </form>
        <ul>
            {% for file in files %}
                <li>
                    <a href="{{ file.file.url }}">
                        {{file.name}}
                    </a>
                    <img src="{{file.file.url}}"/>
                </li>
            {% empty %}
                No file yet.
            {% endfor %}
        </ul>
    </body>
</html>