{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}{% endblock title %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        {% block style %}{% endblock style %}
    </head>
{% load static %}
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="http://localhost:8000/">Day06</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="http://localhost:8000/logout">logout</a></li>
                    {% else %}
                    <li><a href="http://localhost:8000/login">login</a></li>
                    <li><a href="http://localhost:8000/register">register</a></li>
                    {% endif %}
                    {% block nav %}{% endblock nav %}
                </ul>
            </nav>
            {% block content %}{% endblock content %}
        </header>
    </body>
</html>